*,*::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html{
    font-size: 65.5%;
    box-sizing: border-box;
}
body{
    background-color: crimson;
    font-family: 'Courier New', Courier, monospace, sans-serif;
}
.heading-1{
    font-size: 4rem;
    text-transform: capitalize;
    color: #353535;
    letter-spacing: normal;
    line-height: 1.8;
    text-align: center;
}
.photo{
    &__box{ 
        margin: 1rem; 
        box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: .10);   
    }
    &__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.container_photos{
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   
    
}
.mb-1{margin-bottom: 1rem;}
.mb-2{margin-bottom: 2rem;}
.mb-3{margin-bottom: 3rem;}
.mb-4{margin-bottom: 4rem;}

.mb-1{margin-top: 1rem;}
.mt-2{margin-top: 2rem;}
.mb-3{margin-top: 3rem;}
.mb-4{margin-top: 4rem;}

.row{
    max-width: 100vw;
    margin: 0 1rem;
}